.idea
*~
.DS_Store
._.DS_Store
.com.apple.timemachine.supported
.docker-sync
.gitattributes

workflow/provision/image/*
!workflow/provision/image/.gitkeep

.ipynb_checkpoints
.nvcr.auth
.docker-hub.auth
